body {
  font-family: "Jost", sans-serif;
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background-color: #000;
}
.search-container input{
  border-radius: 5px;
  height: 40px;
  width:400px; 
  padding-left: 10px;
  outline: none;
  border: 0px;
  font-size: 20px;
}
.search-container button{
  height: 45px;
  border-radius: 5px;
  outline: none;
  margin-left: 1px;
  background-color: rgb(74, 48, 216);
  color: #fff;
  border: 1px solid rgb(74, 48, 216);
  padding: 0px 30px;
  cursor: pointer;
  opacity: .9;
  transition: 0.8s;
}
.search-container button:hover{
opacity: 1;
}

.weather-container{
  background-color: rgb(174, 222, 250);
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}
.weather-location{
  text-align: center;
}
.weather{


}
.weather-info{
  display: flex;
  justify-content: center;
  align-items: center;

}
.temperature{
  display: flex;
  flex-direction: column;
}
.temperature h2{
  font-size: 80px;
  margin: 0;
  color:rgb(74, 48, 216);
}
.temperature p{
  font-size: 15px;
  margin: 0px;
  text-align: center;
  font-weight: 600;
}
.weather-feature{
  margin-left: 30px;
}
.weather-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-feature{
  display: flex;
  gap: 1em;
}
.weather-image img{
  /* width: 50%; */

}